@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import './assets//scss/Navbar.scss';
@import './assets//scss/Documents.scss';